.px40p {
	width: 40%;
	white-space:normal !important;
}
.px10p {
	width: 10%;
	white-space:normal !important;
}
.px10pixel {
	width: 10 px;
	white-space:normal !important;
}
.px200pixel {
	width: 200px;
	white-space:normal !important;
}
.px100pixel {
	width: 100px;
	white-space:normal !important;
}